<h1>New exercise</h1>
<% if not current_user.nil? %>
<%= render 'form' %>
<% else %>
    <b>You have to be signed in if you want to book an exercise.</b>
<% end %>
<%= link_to 'Back', exercises_path %>
